/* If you need to make some style changes to the plain html, this is the place! */


.cy {
  /* aligns the svg with the canvas */
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

svg.cy {
  pointer-events: none;
  z-index: 2;
}

#cy {
  z-index: 0;
}

.config {
  position: absolute;
  left: 1em;
  top: 1em;
  width: 14em;
  background: rgba(0, 0, 0, 0.666);
  padding: 1em;
  color: #ffffff;
  z-index: 3;
}

.control {
  display: block;
  margin-bottom: 0.9em;
  font: 13px sans-serif;
}

.control input[type="range"] {
  width: 100%;
  margin-top: 0.5em;
}

.control output {
  display: block;
  margin-top: 0.25em;
  text-align: right;
}

